body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/hack_background1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px);
  opacity: 0.02;
  z-index: -1;
}

body {
  background-color: #111111;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  
}

.content-panel {
  background-color: transparent;
}

.hero {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

:root {
  /* --sl-font: 'JetBrains Mono', 'Consolas', 'Courier New', monospace; */
  --sl-font-system: 'Share Tech Mono', 'Consolas', monospace;
  /* --sl-font: 'Orbitron', 'Share Tech Mono', 'Consolas', monospace; */
  
  /* Option 2: Chakra Petch */
  --sl-font: 'Chakra Petch', 'Consolas', monospace;
  
  /* Option 3: Share Tech Mono */
  /* --sl-font: 'Share Tech Mono', 'Consolas', monospace; */
  
  /* Option 4: Major Mono Display (very stylized) */
  /* --sl-font: 'Major Mono Display', 'Consolas', monospace; */
  
/*
  --sl-text-base: 0.9rem;        
  --sl-text-sm: 0.8rem;          
  --sl-text-xs: 0.7rem;          
  --sl-text-lg: 1.1rem;          
  --sl-text-xl: 1.3rem;          
  --sl-text-2xl: 1.5rem;         
  --sl-text-3xl: 1.8rem;         
  --sl-text-4xl: 2.2rem;         
  */
}